<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RealTimeApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/global.css">
</head>
<body>
    <div class="main-wrapper">
        <header class="header">
            <nav class="header__nav main-nav">
                <ul class="main-nav__list">
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">Home</a>
                    </li>
                    <li class="main-nav__item">
                        <a href="#" class="main-nav__link">Find</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main-content">
            @RenderBody() 
        </main>
        <aside class="room">
            <ul class="room__list">
                <li class="room__item">
                    <a href="#" class="room__link">Room 1</a>
                </li>
                <li class="room__item">
                    <a href="#" class="room__link">Room 2</a>
                </li>
                 <li class="room__item">
                    <a href="#" class="room__link room__link--btn"> <span class="room__link-icon">+</span> </a>
                </li>
            </ul>
        </aside>       
    </div>
</body>
</html>