<div>
    <form asp-controller="Account" asp-action="Login">
        <input type="text" name="username" placeholder="name" />
        <input type="password" name="password" placeholder="passowrd" />
        <button>Log in</button>
    </form>
    <div>
        <a asp-controller="Account" asp-action="Registration">Sign up</a>
    </div>
</div>