<div>
    <form asp-controller="Account" asp-action="Registration" class="form form-auth">
        <input type="text" name="username" placeholder="name" required class="input input--primary"/>
        <input type="password" name="password" placeholder="passoword" required class="input input--primary"/>
        <button class="btn btn--form">Sign up</button>
    </form>
</div>