<div>
    <form asp-controller="Account" asp-action="Login">
        <input type="text" name="username" placeholder="name" />
        <input type="password" name="passoword" placeholder="passoword" />
        <button>Sign up</button>
    </form>
</div>