<div>
    <form asp-controller="Account" asp-action="Registration">
        <input type="text" name="username" placeholder="name" required/>
        <input type="password" name="password" placeholder="passoword" required/>
        <button>Sign up</button>
    </form>
</div>