@model IEnumerable<Chat>


    <ul class="room__list">
        @foreach(var chat in Model){
            <li class="room__item">
                <a asp-controller="Home" asp-action="Chat" asp-route-id="@chat.Id" class="room__link">@chat.Name</a>
            </li>
        }
        <li class="room__item">
            <button class="btn room__link room__link--btn"> <span class="room__link-icon">+</span> </button>
        </li>        
    </ul>     
</aside> 


