
<div class="chat-body">
    <div class="message">
        <header>Gon:</header>
        <p>Test message</p>
        <footer>4:20</footer>
    </div>

    <div class="message">
        <header>Killua:</header>
        <p>And????</p>
        <footer>4:22</footer>
    </div>
</div>
<div class="chat-input">
    <input type="text">
    <button>Send</button>
</div>